<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="main.css">
    <title>nodeprac</title>
</head>
<body>
    <form action="/posts" method="post">
        <input type="text" name="posts" id="text">
        <input type="submit" id="submitbtn">
    </form>
    <br>
    <% for(let i = postcount; i>0; i--){%>
        <div class="posts">
            <%= post.rows[i-1].dataValues.content %>
        </div><br>
    <% } %>

</body>
</html>